Code/Cluster

Code/cross-validation.R

Code/3. Birds_habitat_selection.R

Data/Birds_data/Data/Predicted_values_atlas.csv

Data/Birds_data/Outputs/birds_UTM1x1.csv

Data/Birds_data/Outputs/birds_UTM1x1_reanalysis.csv

Data/Birds_data/Outputs/abundance_ranking.xlsx

Data/Birds_data/Outputs/PNAE_birds_WNV.xlsx

Data/Birds_data/Outputs/PNAE_birds_WNV_reanalysis.xlsx

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4.hdr

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4.sld

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4.TFW

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4.tif

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4.xml

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4_tiff_atributs_0_0.dbf

Data/Mosquito_data/Aedes_albopictus/aedes_albopictus_df.csv

Data/Mosquito_data/Aedes_albopictus/aedes_albopictus_df.xlsx

Data/Mosquito_data/Culex/culex_df.csv

Data/Mosquito_data/Culex/culex_df.xlsx

Data/Risk_data

Models

Plots

Prediction

.Rproj.user
